input/code/__pycache__/
input/code/pths/
input/code/trained_models/
input/code/requirements.txt
input/code/detect.py
input/code/deteval.py
input/code/east_dataset.py
input/code/inference.py
input/code/loss.py
input/code/model.py
input/code/._*
input/code/wandb/
input/code/augmentation/__pycache__/
input/backup
input/data/
input/code/streamlit/__pycache__
input/code/streamlit/.ipynb_checkpoints
input/code/streamlit/saved_img_with_bbox
input/code/streamlit/test.py
input/data
output/
