data/
input/code/__pycache__/
input/code/pths/
input/code/trained_models/
input/code/requirements.txt
input/code/dataset.py
input/code/detect.py
input/code/deteval.py
input/code/east_dataset.py
input/code/inference.py
input/code/loss.py
input/code/model.py
input/code/train.py